@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth !important;
}
body {
  scroll-behavior: smooth !important;
}
.container {
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
}
.top-header {
  height: auto;
  background-color: #092038;
  border-bottom: 4px solid #ddbc65;
}

a {
  color: #fff;
}
.activepage {
  color: blue;
}
.top-header-box {
  display: flex;
}
.top-header-box-left {
  flex: 1;
  display: flex;
  justify-content: left;
  padding: 10px 30px;
}
.book {
  padding-right: 4px;
  color: white;
}
.phone {
  transform: scaleX(-1);
  padding-left: 5px;
}
.top-header-box-left p {
  color: white;
}
.top-header-box-left a {
  display: flex;
}
.top-header-box-left i {
  color: #fff;
  font-size: 20px;
}
.top-header-box-left i :hover {
  color: #092038;
}
.top-header-box-left-span:hover {
  opacity: 0.9;
}
.top-header-box-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 10px 30px;
}

.top-header-box-right i {
  color: #fff;
  font-size: 17px;
  padding-right: 6.5px;
}
.top-header-box-right a {
  color: #fff;
  font-size: 17px;
  padding-left: 3px;
  display: flex;
}
.top-header-box-right-sign-in {
  margin-left: 20px;
}
.top-header-box-right-sign-in:hover {
  opacity: 0.8;
}
.top-header-box-right-a1:hover {
  opacity: 0.8;
}
.top-header-box-right-al-span {
  display: flex;
}
.top-header-box-right p {
  color: #fff;
}
.top-header-box-right-p1 {
  color: green;
}
.top-header-box-right-login {
  padding-left: 3px;
}
.logo-container {
  display: grid;
  height: 7rem;
  place-items: center;
  border-bottom: 1.7px solid #2f2ea3;
}
.logo-container img {
  width: 16.756rem;
}
.menu-box-ul.showmenulist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  position: relative;
}
.courses-title {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: "Alegreya Sans", sans-serif;
  padding-top: 30px;
}
.courses-title-sub {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Alegreya Sans", sans-serif;
}
.menu-box-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  position: relative;
}
.menu-box-ul li {
  padding: 18px;
}
.menu-box-ul li a {
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bolder;

  color: rgb(116, 116, 116);
  line-height: 120%;
  word-spacing: normal;
  letter-spacing: normal;
}
.menu-box-ul i {
  font-size: 8px;
  padding: 23.6px 0 0 0;
  opacity: 0.5;
}
.menu-box-ul li ul li {
  padding: 10px;
  top: 60px;
}

.menu-box-ul li ul {
  padding: 20px;
  top: 58px;
  z-index: 100;
  line-height: 20px;
  position: absolute;
  display: flex;
  display: none;
  /* border-top: 6px solid #ddbc65; */
  background-color: rgb(102, 102, 102);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 4px 9px rgb(172, 172, 172);
}
/* .menu-box-ul li ul li {
  background-color: #333;
} */

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-box-ul li a:hover {
  color: #007aff;
  transition: 1s;
}
.menu-box-ul li:hover ul {
  animation: slideup 0.4s;
  display: block;
}
.top-header-box-left-span1 {
  margin-left: 17px;
}
.top-header-box-left-span1:hover {
  opacity: 0.9;
}
.menu-box-ul-courses li a {
  color: #dfdfdf;
}

.menu-box-ul-courses {
  display: flex;
}
/* .menu-box-ul-courses.open-menu {
  animation: slideup 0.4s;
} */
/* .menu-box-ul-courses.close-menu {
  animation: slidedown 0.4s forwards;
} */

.menu-box-ul-courses-inner2 {
  margin-left: 50px;
}
/* .HOME-ul {
  left: -2%;
}
.TESTIMONIAL-ul {
  left: -4%;
} */

/* start of course page css */
/*Bread crumb css style sheet*/

.page-breadcrumbs {
  background-color: rgb(156, 200, 228);
  box-shadow: 2px 0 2px 0 black;
  padding: 30px;
  display: flex;
}

.breacruumb-title-1 {
  flex: auto;
  padding-left: 40px;
  font-size: 22px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.breacruumb-title-2 a {
  padding-right: 5px;
  font-size: 18px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.breacruumb-title-2 {
  font-size: 18px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*page details css style*/

.page-details {
  padding: 30px;
  height: 11.3rem;
}

.page-deatils-1,
.page-deatils-2 {
  font-size: 14px !important;
  margin-top: 30px;
  padding-left: 10px;
}

.page-deatils-1 {
  display: flex;
}

.page-deatils-2 {
  margin-top: 10px !important;
  padding-left: 10px !important;
  /* flex: none !important; */
  color: green;
  font-size: 17px !important;
}

.breacruumb-title-1 .page-deatils-1,
h4 {
  color: lightgreen;
  padding-left: 10px;
  padding-top: 2px;
}

.page-details p {
  font-size: 13px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: lightgray;
  padding-left: 10px;
  padding-top: 10px;
}

.page-details button {
  width: 70vw;
  cursor: pointer;
  padding: 15px;
  background-color: rgba(251, 201, 5, 0.77);
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  font-size: 15px;
}

/*project image css style*/

.page-image div img {
  width: 60vw;
}

.page-image div {
  margin-left: 90px;
}

/*Page tab css style sheet*/

.page-Tab-div {
  box-sizing: content-box;
  box-shadow: 1px 0 5px black;
  /* line-height: 30px; */
  width: 80vw;
  /* height: 40vh; */
  height: min-content;
  /* min-height: 40px; */
  margin-top: 120px;
}

.page-Tab {
  display: flex;
  justify-content: center;
  height: auto;
}

.page-tabs-li {
  display: inline-flex;
}

.page-tab-11,
.page-tab-12 {
  padding: 30px;
  background-color: #f6f7f8;
  width: 15vw;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.active-tab {
  background-color: blue;
  color: white;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.overview-heading,
.curriculum-heading {
  color: #000;
  text-align: center;
}
.curriculum {
  display: none;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.overview {
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.page-tab-content {
  min-height: max-content;
  border-top: 3.6px solid lightgray;
  background-color: #f6f7f8;
  min-height: max-content;
}
.course-page-wrapper {
  background-image: radial-gradient(circle, #083b6b, #092038);
}
.page-tab-content p {
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 40px;
  padding-bottom: 20px;
}

/* end of course page css */

@keyframes slideup {
  0% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(13%);
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
}
.faculty {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  flex: 1;
}
.faculty .faculty-items {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #333;
}
.faculty .faculty-items:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.faculty-images {
  width: 100%;

  overflow: hidden;
}
.faculty-images img {
  width: 100%;
  max-width: 350px;
  height: auto;

  height: 100%;

  object-fit: cover;
}
.faculty .faculty-items .faculty-note {
  margin-left: 15px;
  margin-right: 5px;
  height: auto;
  min-height: 199px;
  width: 100%;
  max-width: 350px;
}
.faculty .faculty-items .faculty-note .faculty-date {
  font-size: 12px;
  color: #fff;
  margin: 9px 0;
}
.faculty .faculty-items .faculty-note .faculty-note-head {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}
.faculty .faculty-items .faculty-note .faculty-note-text {
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  font-family: "Alegreya Sans", sans-serif;
}
.faculty .faculty-items .faculty-note .faculty-text-link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 18px;
  border-radius: 5px;
  margin-left: 15px;
}
/* Homepage Teachers */
.Homepage-teachers {
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.Homepage-teachers .Homepage-teachers-items {
  display: flex;
}
.Homepage-teachers .Homepage-teachers-items .Homepage-teachers-rows {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  margin: 0 7px 0 0;
}
.Homepage-teachers .Homepage-teachers-items .Homepage-teachers-rows img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-top: 1px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
.Homepage-teachers
  .Homepage-teachers-items
  .Homepage-teachers-rows
  .Homepage-teachers-title {
  background-color: #333;
  padding: 0.75rem;
  color: #fff;
}
.Homepage-teachers
  .Homepage-teachers-items
  .Homepage-teachers-rows
  .Homepage-teachers-title
  .fa {
  padding: 0.18rem;
}
.Homepage-teachers
  .Homepage-teachers-items
  .Homepage-teachers-rows
  .Homepage-teachers-text {
  background-color: #fff;
  padding: 20px;
  color: #333;
  border-bottom: 1px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.courses-list {
  /* padding: 20px; */
  display: flex;
  /* display: flex; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.div-course-img {
  position: relative;
}

.course-images {
  width: 230px;
  height: 200px;
}

.div-course-list-item {
  margin-top: 20px;
}

.div-course-list-item span {
  display: block;
  width: 100px;
  height: 100px;
  transform: rotate(-0deg);
  border: 2px solid black;
  border-bottom: 90px solid #80070700;
  border-left: 90px solid rgba(225, 232, 17, 0.4);
  position: absolute;
  left: 33px;
  top: 60px;
}

.div-course-img:hover::after {
  border-bottom: 90px solid #80070700;
  border-left: 90px solid rgba(255, 255, 255, 0.7);
  content: "";
  height: 0;
  left: -13px;
  position: absolute;
  transition: left 4s cubic-bezier(0.24, 0.41, 0.36, 1) 0s;
  -webkit-transition: left 4s cubic-bezier(0.24, 0.41, 0.36, 1) 0s;
  width: 0;
}

.div-course-list-item span p {
  transform: rotate(-60deg);
  margin-inline-start: 0;
  display: inline-block;
  margin-inline-end: 40px;
  margin-right: 40px;
  bottom: -180px;
  position: absolute;
  top: -29px;
  right: -80px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

#course-container {
  background-image: radial-gradient(circle, #083b6b, #092038);
  padding: 30px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-course-list-item-details {
  background-color: #007aff;
  height: 50px;
}

.div-course-img .custom-badge {
  position: absolute;

  width: 70px;
  text-align: center;
  height: 80px;
  padding-top: 10px;
  color: white;
  font-size: 25px;

  right: 3px;
}
.div-course-list-item-details p {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  font-family: "Alegreya Sans", sans-serif;
  padding-top: 15px;
  text-align: center;
}

/* advantage */
.advantage-line2 {
  width: 250px;
  height: 1px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 20px 0px;
}
.advantage-line {
  display: flex;
  justify-content: center;
}
.advantage-h1 {
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
}
.advantages {
  background-image: radial-gradient(circle, #083b6b, #092038);
  padding-top: 30px;
}

.advantage-F-header {
  text-align: center;
}
.cap {
  color: #fff;
  font-size: 30px;
}
article {
  display: flex;
}
.advantages-container {
  display: flex;
  padding: 30px;
}
.trending-programs {
  font-family: "Alegreya Sans", sans-serif;
  color: #fff;
  padding: 20px;
  padding-left: 0;
  font-size: 24px;
  text-align: center;
  margin-top: 0;
}
.faculty-container {
  background-color: #333;
}
.Advantages-S-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.advantages-image {
  padding-top: 20px;
}
.advantages-contents {
  padding: 0 5px 0 10px;
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
}
.advantage-p {
  font-family: "Alegreya Sans", sans-serif;
  color: #fff;
}
.icons {
  color: #fff;
  font-size: 35px;
}

.menu-box {
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 796px) {
  .Advantages-S-header {
    display: inline;
    justify-content: center;
    padding-top: 20px;
  }
  .advantages-image {
    padding-top: 20px;
  }
  .advantages-contents {
    padding: 0 5px 0 33px;
  }
  .advantages-image img {
    width: 90px;
    transition: all ease 0.1s;
  }

  .advantages-image img:hover {
    width: 100px;
    transition: all ease 0.7s;
  }
  .advantages-container {
  }
}
/* hamburger */
.hamburger {
  cursor: pointer;
  position: relative;
  padding: 20px;
  display: none;
}

.hamburger-bar {
  background-color: #333;
  width: 30px;
  height: 2px;
  margin: 3px;
  position: relative;
  transform: rotateY(360deg);
  transition: 0.5s;
}
.hamburger.open .hamburger-bar:nth-child(1) {
  transform: rotate(135deg);

  transition: 0.5s;
}
.hamburger.open .hamburger-bar:nth-child(2) {
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.hamburger.open .hamburger-bar:nth-child(3) {
  transform: rotate(45deg);

  transition: 0.5s;
}
.register-action {
  white-space: nowrap;
  background-color: #092038;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  outline: currentcolor none medium;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  margin: 0px;
  padding: 10px 30px;
  letter-spacing: 0px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;

  transition: 3s;
}
.courses-action {
  transition: 1s;
  white-space: nowrap;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  outline: currentcolor none medium;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  margin: 0px;
  padding: 10px 30px;
  letter-spacing: 0px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
}
.showmenulist {
  display: block;
}
.menu-box-ul > li:nth-child(1) {
  animation: showmenu 0.5s;
  -webkit-animation: showmenu 0.5s;
}
.menu-box-ul > li:nth-child(3) {
  animation: showmenu 0.9s;
  -webkit-animation: showmenu 0.9s;
}
.menu-box-ul > li:nth-child(5) {
  animation: showmenu 1.1s;
  -webkit-animation: showmenu 1.1s;
}
.menu-box-ul > li:nth-child(7) {
  animation: showmenu 1.3s;
  -webkit-animation: showmenu 1.3s;
}
.menu-box-ul > li:nth-child(9) {
  animation: showmenu 1.5s;
  -webkit-animation: showmenu 1.5s;
}
.menu-box-ul > li:nth-child(11) {
  animation: showmenu 1.7s;
  -webkit-animation: showmenu 1.7s;
}
.menu-box-ul > li:nth-child(13) {
  animation: showmenu 1.9s;
  -webkit-animation: showmenu 1.9s;
}
.menu-box-ul > li:nth-child(15) {
  animation: showmenu 2.1s;
  -webkit-animation: showmenu 2.1s;
}

@keyframes showmenu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.courses-action:hover {
  border-color: #ddbc65;
  transition: 1s;
}
.register-action:hover {
  border-color: #ddbc65;
  transition: 1s;
}
.faculty .faculty-items .faculty-note .faculty-text-link:hover {
  border-color: #ddbc65;
}
.slider-content h1,
h3 {
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;

  font-weight: bolder;
}
.slider-content h1 {
  font-size: 6vw;
}
.whatsapp {
  background-color: #91d573;
}
.slider-content h3 {
  font-size: 4vw;
}
.slider-actions {
  margin-top: 20px;
}

/* media queries */

@media screen and (max-width: 600px) {
  .top-header-box {
    flex-direction: column;
  }
  .menu {
    justify-content: flex-end;
  }
  .menu-box-ul-courses {
    display: none;
  }
  .top-header-box-left {
    justify-content: center;
  }
  .top-header-box-right {
    justify-content: center;
  }
  .logo-img {
    width: 13rem !important;
  }
}

@media screen and (max-width: 480px) {
  .menu-box-ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .menu-box {
    justify-content: right;
  }
  .course-images {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

/* testimonial */
#testimonial {
  background-color: #092038;
  padding: 20px 0;
}
#testimonial h2 {
  text-align: center;
}

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 20px;
}
#quote-carousel .carousel-control {
  background: none;
  color: #fff;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-indicators {
  position: relative;
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-top: 20px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s ease-in;
  vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
  width: 128px;
  height: 128px;
  opacity: 1;
  transition: all 0.2s;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: "Fontawesome";
  float: left;
  margin-right: 10px;
}

/* end of testimonial */

/* footer */

.footer-container {
  color: #fff;
  border-top: 1px solid #ddbc65;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #092038;
  padding: 20px;
}
.footer-content {
  display: flex;
  width: 100%;
}
.footer-reference {
  width: 20%;
  font-family: "Alegreya Sans", sans-serif;
  padding: 0 10px;
}
.footer-reference ul li a {
  color: #fff;
}
.footer-reference ul li i {
  padding: 7px;
}
.footer-reference ul li a:hover {
  color: blue;
}

.footer-recent {
  border-radius: 7px;
}
.footer-logo {
  width: 50%;
  padding: 0 10px;
}

.footer-post {
  /* margin-left: 10rem; */
  width: 30%;
  padding: 0 10px;
}
small {
  color: #fff !important;
}
.image {
  width: 100px;
  height: 70px;
}
.footer-line {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.footer-line .line {
  height: 1px;
  background-color: #fff;
  width: 100%;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social {
  font-family: "Alegreya Sans", sans-serif;
}
.footer-logo p {
  font-family: "Alegreya Sans", sans-serif;
  padding: 0 12px;
}
.copyright {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  padding-top: 10px;
  font-size: 16px;
}
.social i {
  padding: 0 20px;
}

@media screen and (max-width: 796px) {
  .faculty-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .social-text {
    display: none;
  }
  .faculty {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .faculty-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 0 5px;
  }
  .faculty-images {
    width: 100%;
    max-height: 100vh;
  }
  .faculty-images img {
    width: 100%;
    height: 350px;
    border: 1px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-bottom: 3px;
  }
  .faculty .faculty-items .faculty-note .faculty-text-link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 18px;
    border-radius: 5px;
    margin-left: 15px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    justify-content: center;
    font-size: 14px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .footer-container .footer-content .footer-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .footer-container .footer-content .footer-reference {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .footer-container .footer-content .footer-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .footer-container .footer-content .footer-logo img {
    width: 100%;
    max-width: 250px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 16px;
  }
  .social {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .social i {
    padding: 10px;
  }
}
@media screen and (max-width: 680px) {
  .faculty-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 0 5px;
    height: auto;
  }

  .faculty {
    flex-direction: column;
  }
  .Homepage-teachers-items {
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 0 5px;
    height: auto;
  }
}
@media screen and (max-width: 360px) {
}

/* end of footer */
