*{

    margin: 0;
    padding: 0;

}

/*Bread crumb css style sheet*/

.page-breadcrumbs{

background-color: rgb(156, 200, 228);
box-shadow: 2px 0 2px 0 black;
padding: 30px;
display: flex;

}

.breacruumb-title-1{

flex: auto;
padding-left: 40px;
font-size: 22px;
font-weight: 100;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.breacruumb-title-2 a{

    padding-right: 5px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    text-decoration: none;
}

.breacruumb-title-2{

    font-size: 18px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    

}

/*page details css style*/

.page-details{

    padding: 30px;
    height: 11.3rem;

}

.page-deatils-1, .page-deatils-2{

font-size: 14px !important;
margin-top: 30px;
padding-left: 10px;

}

.page-deatils-1{

    display: flex;

}

.page-deatils-2{

margin-top: 10px !important;
padding-left: 10px !important;
/* flex: none !important; */
color: green;
font-size: 17px !important
}

.breacruumb-title-1 .page-deatils-1, h4{

color: lightgreen;
padding-left: 10px;
padding-top: 2px;

}

.page-details p{

    font-size: 13px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightgray;
    padding-left: 10px;
    padding-top: 10px;

}

.page-details button{

width: 85vw;
padding: 15px;
background-color: rgba(251, 201, 5, 0.77);
border-radius: 5px;
margin-top: 20px;
color: white;
font-size: 15px;

}

/*project image css style*/

.page-image div img{

    width: 60vw;
}


.page-image div{

    margin-left: 90px;
}

/*Page tab css style sheet*/

.page-Tab-div{

    box-sizing: content-box;
    box-shadow: 1px 0 5px black;
    /* line-height: 30px; */
    width: 70vw;
    /* height: 40vh; */
    height: min-content;
    /* min-height: 40px; */
    margin-top: 120px;

}

.page-Tab{

  display: flex;
  justify-content: center;
  height: 590px;

}

.page-tabs-li{

display: inline-flex;

}

.page-tab-11, .page-tab-12{

padding: 30px;
background-color: #f6f7f8;
width: 15vw;
text-align: center;
margin-right: 5px;

}

.page-tab-content{

    min-height: max-content;
    border-top: 3.60px solid lightgray;
    background-color: #f6f7f8;
    min-height: max-content;
}

.page-tab-content p{

padding-top: 35px;
padding-left: 50px;
padding-right: 40px;
padding-bottom: 20px;

}